<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO App</title>
</head>
<style>
  form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    padding: 5px 10px;
    background-color: lightblue;
    border: 1px solid #2828;
    margin: 5px auto;
    cursor: pointer;
  }
</style>
<body>

  <form action="/signup" method="get">
    <button type="submit">Signup</button>
  </form>

  <form action="/login" method="get">
    <button type="submit">Login</button>
  </form>
  
</body>
</html>