<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Dashboard</title>
  <style>
    .form-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      padding: 1rem;
      border-radius: 5px;
      background-color: lightblue;
      max-width: 500px;
    }

    .form-box input {
      padding: 6px;
      border-radius: 5px;
      border: 1px solid #2828;
      width: 80%;
    }

    .form-box button {
      background-color: rgba(32, 178, 171, 0.693);
      padding: 5px;
      border: 1px solid #2828;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .form-box button:hover {
      background-color: lightseagreen;
    }

    .form-box button:active {
      transform: scale(0.95);
    }

    .header {
      width: 400px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
    }

    input:focus {
      outline: none;
    }

    .header button {
      padding: 7px;
      border-radius: 5px;
      border: 1px solid #2828;
      cursor: pointer;
      background-color: rgba(232, 18, 18, 0.515);
      transition: 0.3s;
    }

    .header button:hover {
      background-color: rgba(255, 0, 0, 0.769);
    }

    .container {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: rgba(240, 128, 128, 0.401);
      margin: auto;
      margin-top: 1.5rem;
      padding: 1rem;
      width: 500px;
      transition: all 0.3s;
    }

    .container .todo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      border-radius: 5px;
      width: 100%;
      background-color: lightcyan;
    }
    .container .todo .text{
      padding: 0px 0.5rem;
      font-weight: bold;
    }

    .container .todo .btns button:nth-child(1) {
      padding: 2px 5px;
      background-color: rgba(213, 213, 36, 0.611);
      border: 1px solid #282828;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .container .todo .btns button:nth-child(2) {
      background-color: rgba(217, 47, 47, 0.584);
      border: 1px solid #282828;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .container .todo .btns button:nth-child(1):hover {
      background-color: yellow;
    }

    .container .todo .btns button:nth-child(2):hover {
      background-color: red;
    }

    .container .todo .btns button:nth-child(1):active,
    .container .todo .btns button:nth-child(2):active {
      transform: scale(0.9);
    }
    .button{
      padding: 5px;
      width: 530px;
      display: flex;
      justify-content: flex-end;
      margin: auto;
    }
    .show-more{
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color:lightcoral;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="header">
    <h1><u>ToDo App</u></h1>
    <form action="/logout" method="post">
      <button>Logout</button>
    </form>

    <form action="/logout_from_all" method="post">
      <button>Logout from all devices</button>
    </form>

  </div>

  <form class="form-box" action="/add_todo" method="post">
    <input id="new-text" type="text" name="todoitem" required minlength="3">
    <button class="add-todo" type="submit">Add Todo</button>
  </form>


  <div id="container" class="container"></div>
  <div class="button">
    <button class="show-more">Show More</button>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/script.js"></script>

</body>

</html>